*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", "arail", sans-serif;
  font-weight: 500;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.col-12 {
  flex-basis: 100%; 
  flex-grow: 0;
  flex-shrink: 0;
}
.col-11 {
  flex-basis: 91.66%; 
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.container-2 {
  max-width: 700px;
}
.row-2 {
  display: flex;

  justify-content: center ;
  flex-direction: column
}
.col-2-2 {
  flex: 100% 0 0;
}
h1{
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
}

.flex-nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
header {
  background-image: url(./images/bg.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-header {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.box-1 {
  height: 100vh;
  display: flex;
}
.box-1 .img {
  width: 100%;
  height: 100%;
}
.box-1 div {
  width: 50%;
}
.text {
  background-color: rgb(200, 191, 191);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.mini {
  max-width: 500px;
  text-align: —Åenter;
}
.ckroll {
  position: absolute;
  top: 39%;
  right: 10%;
}
.block-6 {
  width: 100%;
  height: max-content;
  text-align: center;
}

.image-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px; 
}
.btn {
  background-image: url(./f_9936163de18b3599\ 1.png);
   text-align: end; 
  background-repeat: no-repeat;
  background-size: contain;
  height: 766px;
  width: 1200px;
  margin: 0 auto;
}
 .btn img {
  height: 1500px;
  position: absolute;
  top: 1890px;
  left: 1519px;

} 

.btn button {
  margin: 285px 142px 10px 76px;

}
.block-3 {
  text-align: center;
  background: #1A1F25;
  padding: 90px 0;
}
.block-3 h2{
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 90px;
}
.test {
  background-color: #1a1f25;
  flex-basis: 20%; 
  flex-shrink: 0;
  flex-grow: 0;
  border-color: #e2e5e8;
  border-width: 0 1px 1px 0;
  border-style: solid;
  color:white;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test:nth-child(5n){
  border-right: 0;
}
.test:nth-child(11){
  border-left-width: 1px;
  border-bottom-width: 0;
}
.test:nth-child(12),
.test:nth-child(13){
  border-bottom-width: 0;
}
.row-block-3 {
  justify-content: center;
}
.test img {
  width: 50px;
  height: 50px;
  display: block;
}
.test button {
  border-color: #fff;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  color: #fff;

}

article {
  background-image: url(./images/13e3b8a33eb0648c3ae4a07e21657328\ 1.png);
  padding-top: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
}
.card-article img {
  width: 50px;
  height: 50px;
}
.block-4 {
  height: 100vh;
  display: flex;
  position: absolute;
}
.block-4 .img {
  width: 100%;
  height: 100%;
}
.block-4 div {
  width: 50%;
}
.text-b {
  background-color: rgb(8, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.mini {
  max-width: 500px;
  max-height: 500px;
  text-align: center;
}



