*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", "arail", sans-serif;
  font-weight: 500;
}
.container {
  max-width: 1244px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.col-12 {
  flex-basis: 100%; 
  flex-grow: 0;
  flex-shrink: 0;
}
.col-11 {
  flex-basis: 91.66%; 
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.container-2 {
  max-width: 700px;
}
.row-2 {
  display: flex;

  justify-content: center ;
  flex-direction: column
}
.col-2-2 {
  flex: 100% 0 0;
}
h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
}

.flex-nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
p {
  text-align: center;
  font-size: 20px;
  padding: 1px;
  margin: 0 auto;
}
header {
  background-image: url(./images/bg.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-header {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.box-1 {
  height: 100vh;
  display: flex;
}
.box-1 .img {
  width: 100%;
  height: 100%;
}
.box-1 div {
  width: 50%;
}
.text {
  background-color: rgb(200, 191, 191);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.mini {
  max-width: 500px;
  text-align: сenter;
}
.ckroll {
  position: absolute;
  top: 39%;
  right: 10%;
}
.block-6 {
  width: 100%;
  height: max-content;
  text-align: center;
}

.image-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px; 
}
.btn {
  background-image: url(./f_9936163de18b3599\ 1.png);
   text-align: end; 
  background-repeat: no-repeat;
  background-size: contain;
  height: 766px;
  width: 1200px;
  margin: 0 auto;
}
 .btn img {
  height: 1500px;
  position: absolute;
  top: 1890px;
  left: 1519px;

} 

.btn button {
  margin: 285px 142px 10px 76px;

}
.block-3 {
  text-align: center;
  background: #1A1f25;
  padding: 90px 0;
}
.block-3 h2{
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 90px;
}
.test {
  background-color: #1a1f25;
  flex-basis: 20%; 
  flex-shrink: 0;
  flex-grow: 0;
  border-color: #e2e5e8;
  border-width: 0 1px 1px 0;
  border-style: solid;
  color:white;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test:nth-child(5n){
  border-right: 0;
}
.test:nth-child(11){
  border-left-width: 1px;
  border-bottom-width: 0;
}
.test:nth-child(12),
.test:nth-child(13){
  border-bottom-width: 0;
}
.row-block-3 {
  justify-content: center;
}
.test img {
  width: 50px;
  height: 50px;
  display: block;
}
.test button {
  border-color: #fff;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.block-4 {
  background-image: url(./images/article-bg.png);
  padding: 336px 0 160px;
}
.block-4 h2 {
  color:#1a1f25;
  font-size: 48px;
  line-height: 59px;
  margin: 0 0 90px;
}
.testi p {
  margin: 0;
  width: calc(100%-70);
}
.testi {
  flex-basis: 50%; 
  flex-grow: 0;
  display: flex;
  padding-bottom: 60px;
}

.testi img {
  width: 50px;
  height: 50px;
  display: block;
  margin-right: 20px;
}
.block-5 {
  display: flex;
  background: #000;
  position: relative;
}
.block-5::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  width: 50%;
  background: url(images/block-5-bg.png) top right no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.block-5 .container{
  position: relative;
  z-index: 2;
}

.block-5  h2  {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
.block-5 h3  {
  color: white;
  font-size: 40px;
  margin-left: 10px;
}
.block-5 h4 {
  color: #fff;
  font-size: 14px;
}
.block-5 p {
  color:#fff;
}
.block-5 s {
  color: #fff;
}
.block-5-ap {
  display: flex;
  margin: 0 -5px 180px;
  max-width: 602px;
  width: 100%;
}
.block-5-in{
  margin: 0 5px;
}
.header-button{
  display: block;
  margin: 60px auto 0;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #000;
  padding: 20px 84px 20px 30px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.header-button::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 12px;
  background: url(images/arrow.png);
  right: 40px;
  top: 50%;
  margin-top: -6px;
}
.header-button:hover{
  background: rgba(255,255,255,0.5);
}
.block-5-in{
  border: 1px solid #fff;
  height: 284px;
  padding: 60px 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  position: relative;
}
.block-5-in h4{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 0;
}
.block-5-in p{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
.block-5-in s {
  font-size: 14px;
  line-height: 16px;
}
.block-5-in span{
  display: block;
  margin-top: 6px;
  font-size: 24px;
  line-height: 29px;
}
.block-5-in--blue {
  background: linear-gradient(#61B3C9 0%, #074D88 100%);
}
.block-5-in::before {
  content: "";
  width: 76px;
  height: 76px;
  border-radius: 50%;
  position: absolute;
  background: #000;
  border: 1px solid #fff;
  top: 0;
  margin-top: -39px;
  left: 50%;
  margin-left: -39px;
}
.block-5-in::after{
  content: '';
  position: absolute;
  width: 80px;
  height: 40px;
  background:#000;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}
.block-6-in {
  height: 100%;
  align-items: center;
}
.title-5 {
  color: #fff;
  font-size:48px;
  line-height:59px;
  margin-bottom: 130px;
  margin-top: 133px;

}
.block-5-ap-title{
  margin: 55px;
  color: #fff;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 138px;
  margin-top: 133px;
  
}
.block-5-ap {
  margin: 30px;
}

.footer-5 {
  max-width: 100px;
  height: 100%;
  background: #161718;
  margin: 0 auto;
  padding-top: 103px 0 160px;
  display: inline-flex;
  justify-content: flex-start;
  height: 100%;
  }
.footer li{
  color: white;
  font-size: 14px;
}
.feature {
  margin: 0px;
  display: flex;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding: 0px;
  width: 248px;
  height: 170px;
  color: white;
}
.md-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 321px;
  height: 152.5px;


}
.footer a {
  color: #fff;
  height: 15px;
}
.form_input{
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.form_input input,
.form_input textarea{
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: none;
  border: 0;
  outline: none;
  color: #fff;
  font-family: inherit;
  width: 100%;
}
.form_input textarea{
  height: 60px;
  resize: none;
}
.form_input .input_btn{
  border-color: #fff;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  width: 194px;
}
.block-5 form{
  padding-right: 73px;
}
.form_input input::-webkit-input-placeholder,
.form_input textarea::-webkit-input-placeholder{
  color: #fff;
}