*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/*.container {
  max-width: 982px;
  margin: 0 auto;
}
*/
  justify-content:center;
}
.col-12 {
  flex-basis: 100%; /* flex: 100% 0 0; */
  flex-grow: 0;
  flex-shrink: 0;

  
}
.col-11 {
  flex-basis: 91.66%; /* 100%/12*11 */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.container-2 {
  max-width: 700px;
}
.row-2 {
  display: flex;

  justify-content: center ;
  flex-direction: column
}
.col-2-2 {
  flex: 100% 0 0;
}

.flex-nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
header {
  background-image: url(./images/bg.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-header {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.box-1 {
  height: 100vh;
  display: flex;
}
.box-1 .img {
  width: 100%;
  height: 100%;
}
.box-1 div {
  width: 50%;
}
.text {
  background-color: rgb(200, 191, 191);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.mini {
  max-width: 500px;
  text-align: сenter;
}
.ckroll {
  position: absolute;
  top: 39%;
  right: 10%;
}
.block-6 {
  width: 100%;
  height: max-content;
  text-align: center;
}

.image-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 120px; 
}
.btn {
  background-image: url(./f_9936163de18b3599\ 1.png);
   text-align: end; 
  background-repeat: no-repeat;
  background-size: contain;
  height: 766px;
  width: 1200px;
  margin: 0 auto;
}
 .btn img {
  height: 1500px;
  position: absolute;
  top: 1890px;
  left: 1519px;

} 

.btn button {
  margin: 285px 142px 10px 76px;

}
.block-3 {
  height: 100vh;
  text-align: center;
}
.test {
  background-color: #1a1f25;
  flex-basis: 0; 
  flex-shrink: 20%;
  flex-grow: 0;
  border: #e2e5e8;
}
.row-block-3 {
  justify-content: center;
  padding: 0%;

}

article {
  background-image: url(./images/13e3b8a33eb0648c3ae4a07e21657328\ 1.png);
  padding-top: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
}
.card-article img {
  width: 50px;
  height: 50px;
}
.block-4 {
  height: 100vh;
  display: flex;
}
.block-4 .img {
  width: 100%;
  height: 100%;
}
.block-4 div {
  width: 50%;
}
.text-b {
  background-color: rgb(8, 6, 6);

  display: flex;
  justify-content: center;
  align-items: center;

  position: static;
}
.mini {
  max-width: 500px;
  text-align: center;
}


